<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <title>[REPORT_TITLE]</title>
    </head>
    <body>
        <div class="report">
            <div class="toc">
                [TOC]
            </div>
            <div class="main">
                <h1>Results for [REPORT_TITLE]</h1>
                <hr>
                [REPORT_BLOCK]
            </div>
        </div>
    </body>
</html>
